In [3]:
import json
import cx_Oracle

%load_ext sql

In [4]:
with open('credentials.json') as f:
    data = json.load(f)
    username = data['username']
    password = data['password']

%sql oracle+cx_oracle://$username:$password@dbhost:1521/?service_name=ORCLPDB1.localdomain

'Connected: hr@'

In [5]:
%%sql result <<
select TIMES_PREGNANT "TIMES_PREGNANT", GLUCOSE "GLUCOSE", BLOOD_PRESSURE "BLOOD_PRESSURE", SKIN_FOLD_THICK "SKIN_FOLD_THICK",
       SERUM_INSULIN "SERUM_INSULING", MASS_INDEX "MASS_INDEX", DIABETES_PEDIGREE "DIABETES_PEDIGREE", 
       AGE "AGE", CLASS_VAR "CLASS_VAR" from PIMA_INDIANS_DIABETES

 * oracle+cx_oracle://hr:***@dbhost:1521/?service_name=ORCLPDB1.localdomain
0 rows affected.
Returning data to local variable result

In [6]:
df = result.DataFrame()
df.head()

,times_pregnant,glucose,blood_pressure,skin_fold_thick,serum_insuling,mass_index,diabetes_pedigree,age,class_var
0,1,106,70,28,135,34.2,0.142,22,0
1,2,155,52,27,540,38.7,0.24,25,1
2,2,101,58,35,90,21.8,0.155,22,0
3,1,120,80,48,200,38.9,1.162,41,0
4,11,127,106,0,0,39,0.19,51,0

In [7]:
print('Number of rows in dataset: {df.shape[0]}')
print(df[df.columns[8]].value_counts())

Number of rows in dataset: {df.shape[0]}
0    500
1    268
Name: class_var, dtype: int64

In [8]:
corrs = df.corr()['class_var'].abs()
columns = corrs[corrs > .01].index
corrs = corrs.filter(columns)
corrs

times_pregnant     0.221898
glucose            0.466581
blood_pressure     0.065068
skin_fold_thick    0.074752
serum_insuling     0.130548
age                0.238356
class_var          1.000000
Name: class_var, dtype: float64